@charset "UTF-8";
/*----------------------- Header -------------------------*/
header {
  background-color: #000000;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 10; }

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto; }
  .logoImg {
    max-width: 200px;
    max-height: 100%; }

.logo:hover, .userCarro:hover, .logoRedSocial:hover {
  transform: scale(1.1); }

.buscador {
  grid-area: buscador;
  width: 100%;
  height: auto;
  font-size: 2.5rem;
  margin: auto;
  padding: 5px;
  border-radius: 15px; }

.navegacion {
  grid-area: menu;
  max-width: auto;
  height: auto; }

.contenedorUs {
  grid-area: carritoUsuario;
  max-width: auto;
  height: auto; }
  .contenedorUs .userCarro {
    width: 80px;
    height: auto; }

.tresLineas {
  grid-area: tresLineas;
  display: flex;
  height: auto; }
  .tresLineas img {
    max-width: 80px;
    max-height: 100%;
    padding: 5px;
    width: 80px;
    height: auto; }

.ubicacionMenu {
  grid-area: ubicacionMenu; }

#botonMenu {
  display: none; }

/*-------------- Barras de navegación ----------------*/
nav a {
  text-decoration: none;
  color: #F15BB5;
  font-size: 2.5rem; }

header ul, footer ul {
  list-style-type: none; }

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .menu li {
    margin: 3px 20px;
    position: relative;
    background-color: #000000;
    padding: auto; }
    .menu li li a {
      padding: 0 10px;
      display: flex; }
  .menu a:hover {
    background-color: #F15BB5;
    color: #ffffff;
    display: block;
    border-radius: 10px; }

.submenu {
  position: absolute;
  display: none;
  background-color: #000000;
  text-align: left; }
  .submenu li {
    display: block;
    z-index: 2; }

ul li:hover ul {
  display: block; }

header a:hover {
  color: white; }

@media only screen and (max-width: 550px) {
  header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "tresLineas logo carritoUsuario" "buscador buscador buscador" "ubicacionMenu ubicacionMenu ubicacionMenu";
    justify-content: space-around;
    align-content: center;
    padding-bottom: 10px; }
  .navegacion {
    display: none; }
  .user {
    display: none; }
  .logo img {
    width: 75%;
    height: auto; }
  .contenedorUs img {
    height: 75%;
    height: auto;
    max-height: 90%; }
  .buscador {
    font-size: 2rem; }
  .menu a {
    text-decoration: none;
    color: #F15BB5; } }

@media only screen and (min-width: 551px) and (max-width: 1123px) {
  header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "tresLineas logo buscador carritoUsuario" "ubicacionMenu ubicacionMenu ubicacionMenu ubicacionMenu";
    justify-content: space-between;
    align-content: center;
    align-items: center; }
  header label {
    display: flex; }
  .tresLineas {
    visibility: visible;
    width: 100%;
    height: auto; }
  .navegacion {
    display: none; } }

@media only screen and (min-width: 1124px) {
  header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "logo buscador carritoUsuario" "logo menu carritoUsuario" "ubicacionMenu ubicacionMenu ubicacionMenu";
    justify-content: space-around;
    align-content: center; }
  .ubicacionMenu {
    display: flex; }
  .menuOculto {
    visibility: visible;
    display: block; }
  .tresLineas {
    display: none; }
  .menu {
    display: flex;
    flex-flow: row wrap; } }

/*----------------------- Footer -------------------------*/
footer {
  background-color: black;
  color: #ffffff;
  display: flex;
  flex-flow: row  wrap;
  justify-content: space-between;
  padding: 0 10px; }
  footer div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto; }
  footer ul {
    text-align: center; }
  footer input {
    font-size: 2rem;
    border-radius: 15px;
    border: none;
    padding: 8px; }

.mailFooter ul {
  font-size: 2.5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px; }

.mailFooter li {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px; }

.infoFooter a:hover {
  text-decoration: none;
  color: #B5F15B; }

.botonForm {
  color: #ffffff;
  background-color: #F15BB5;
  margin: auto; }

.botonForm:hover {
  color: #000000;
  background-color: #B5F15B; }

.botonForm:active {
  color: #B5F15B;
  background-color: black; }

.infoFooter {
  text-align: center;
  margin: auto; }

.logoRedSocial {
  width: 65px;
  height: 65px; }

.divRedesSociales {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.divRedesSociales ul {
  display: flex;
  justify-content: space-evenly; }

.divRedesSociales li {
  display: inline;
  position: sticky; }

/*.whatsapp{
    position: sticky;
    bottom: 1;
}*/
.producto {
  font-size: 2.5rem;
  /*border: 3px rgb(117, 114, 114) solid;*/
  width: 300px;
  min-height: 420px;
  margin: 25px;
  padding: 15px;
  /*Flex*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  .producto input {
    border: none; }
  .producto form {
    display: flex;
    flex-flow: column wrap;
    text-align: center; }
  .producto h3 {
    text-align: center;
    z-index: 3;
    font-size: 2.5rem; }
  .producto img {
    width: 200px;
    height: 200px;
    object-fit: cover; }
  .producto img:hover {
    transform: scale(1.4) translateY(-40px);
    box-shadow: 5px 5px 15px #5BB5F1; }
  .producto input {
    font-size: 2.5rem;
    text-align: center; }
  .producto:hover {
    background-color: #F15BB5;
    color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 15px  grey; }
    .producto:hover .tituloProducto {
      color: #3D172E; }
    .producto:hover h3 {
      background-color: #F15BB5; }

.cantidad {
  color: #5BB5F1;
  background-color: #000000; }

.botonProducto {
  text-decoration: none;
  color: #B5F15B;
  background-color: #000000;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
  border: none; }
  .botonProducto:hover {
    background-color: #ffffff;
    color: #F15BB5; }
  .botonProducto:active {
    background-color: #F15BB5;
    color: #ffffff; }

.articulo {
  max-width: 100%;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-areas: "header header" "fotos titulo" "fotos datos" "caracteristicas caracteristicas" "similares similares" "footer footer"; }
  .articulo header {
    grid-area: header; }
  .articulo footer {
    grid-area: footer; }
  .articulo__fotos {
    grid-area: fotos;
    max-width: 600px;
    max-height: 600px;
    background-color: red; }
  .articulo__titulo {
    grid-area: titulo; }
  .articulo__datos {
    grid-area: datos;
    padding: 20px; }
  .articulo__caracteristicas {
    grid-area: caracteristicas; }
  .articulo__similares {
    grid-area: similares; }
  .articulo__fotos, .articulo__titulo, .articulo__datos, .articulo__caracteristicas, .articulo__similares {
    margin: 10px;
    border: hotpink 2px solid; }

.cuotas-1 {
  width: 90px; }

.cuotas-2 {
  width: 180px; }

.cuotas-3 {
  width: 270px; }

.cuotas {
  display: flex; }
  .cuotas div {
    border: solid 2px gold;
    background-color: greenyellow;
    margin: 10px; }

.disponibilidad--agotado {
  background-color: red; }

.disponibilidad--disponible {
  background-color: green; }

.disponibilidad--ultimoDisponible {
  background-color: orange; }

.disponibilidad {
  color: white;
  display: flex;
  flex-flow: row wrap; }
  .disponibilidad div {
    margin: 15px;
    padding: 3px 10px;
    border-radius: 15px; }

@media only screen and (max-width: 1023px) {
  .btnBarraLateral {
    z-index: 4;
    width: 3.5rem;
    height: 40%;
    background-color: #000000;
    border-radius: 0.5rem;
    position: fixed;
    top: 30%;
    left: 5%;
    color: white;
    text-align: center;
    transition: left 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px white solid; }
    .btnBarraLateral img {
      width: 100%;
      height: auto; }
  .checkbox:checked ~ .btnBarraLateral {
    left: 80%;
    transition: left 0.4s;
    transform: rotate(180deg);
    border-radius: 0.5rem 0 0 0.5rem;
    border: 0; }
  .leftPanel {
    background-color: #000000;
    width: 80%;
    min-height: 100%;
    bottom: 0;
    top: 0;
    position: fixed;
    z-index: 11;
    left: -80%;
    transition: left .4s;
    overflow: auto; }
  .checkbox:checked ~ .leftPanel {
    left: 0;
    transition: left .7s; } }

.checkbox {
  display: none; }

@media only screen and (min-width: 1023px) {
  .btnBarraLateral img {
    display: none; } }

/* BARRA LATERAL */
.barraLateral, .accordion-item, .accordion-button {
  grid-area: barraLateral;
  background-color: #000000;
  color: #000000;
  font-size: 2rem; }

.accordion-button {
  border-radius: 15px; }

.accordion-header {
  background-color: #F15BB5; }

.barraLateral h2 {
  margin: 20px 20px 3px 20px;
  padding: 5px; }

.barraLateral ul {
  list-style-type: none;
  margin: 10px; }

.barraLateral a {
  text-decoration: none;
  color: #ffffff; }

.barraLateral a:hover {
  color: #F15BB5;
  background-color: #ffffff;
  padding: 5px;
  border-radius: .5rem; }

.barraLateral button {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #F15BB5; }

#paginaActual {
  border-radius: 8px;
  padding: 5px;
  border: 2px #F15BB5 solid;
  background-color: #ffffff;
  color: #F15BB5; }

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #F15BB5;
  box-shadow: none; }

.accordion-button:focus {
  z-index: 3;
  border-color: #B5F15B;
  outline: 0;
  box-shadow: none; }

/*---------------- CATALOGO -------------------*/
@media only screen and (min-width: 1023px) {
  .catalogo {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 300px auto;
    grid-template-areas: "header header" "barraLateral main" "footer footer"; }
    .catalogo header {
      grid-area: header; }
    .catalogo main {
      grid-area: main; }
    .catalogo footer {
      grid-area: footer; }
    .catalogo .leftPanel {
      grid-area: barraLateral;
      background-color: #000000; } }

/*.catalogo{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 300px auto;
    grid-template-areas:
    "header header"
    "barraLateral main"
    "footer footer"
    ;
    aside{grid-area: barraLateral;}
    header{grid-area: header;}
    main{grid-area: main;}
    footer{grid-area: footer;}
}*/
/* Contenido */
.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.marcasSeccion {
  background-color: #B5F15B;
  width: 100%;
  height: auto;
  margin-bottom: 30px; }
  .marcasSeccion__img {
    width: 200px;
    height: 90px;
    object-fit: contain;
    margin-top: 30px;
    margin-bottom: 30px; }
  .marcasSeccion__img:hover {
    opacity: 1.0; }

.marcas {
  max-width: 190px;
  perspective: 1000px;
  position: relative;
  margin: auto; }
  .marcasCarrusel {
    width: 100%;
    position: absolute;
    animation: rotar 30s infinite linear;
    transform-style: preserve-3d; }
    .marcasCarrusel a {
      width: auto;
      max-height: 80px;
      position: absolute; }
      .marcasCarrusel a img {
        max-width: 100%;
        height: 100%;
        border-radius: 10px; }

.marcasCarrusel:hover {
  animation-play-state: paused;
  transition: all 300ms; }

.marcasCarrusel img:hover {
  transform: scale(1.2);
  transition: all 300ms; }

@media only screen and (max-width: 480px) {
  .marcasSeccion {
    padding-top: 40px;
    padding-bottom: 60px; }
  .marcas {
    max-width: 90px; }
  .marcasCarrusel a:nth-child(1) {
    transform: rotateY(0deg) translateZ(160px); }
  .marcasCarrusel a:nth-child(2) {
    transform: rotateY(36deg) translateZ(160px); }
  .marcasCarrusel a:nth-child(3) {
    transform: rotateY(72deg) translateZ(160px); }
  .marcasCarrusel a:nth-child(4) {
    transform: rotateY(108deg) translateZ(160px); }
  .marcasCarrusel a:nth-child(5) {
    transform: rotateY(144deg) translateZ(160px); }
  .marcasCarrusel a:nth-child(6) {
    transform: rotateY(180deg) translateZ(160px); }
  .marcasCarrusel a:nth-child(7) {
    transform: rotateY(216deg) translateZ(160px); }
  .marcasCarrusel a:nth-child(8) {
    transform: rotateY(252deg) translateZ(160px); }
  .marcasCarrusel a:nth-child(9) {
    transform: rotateY(288deg) translateZ(160px); }
  .marcasCarrusel a:nth-child(10) {
    transform: rotateY(324deg) translateZ(160px); } }

@media only screen and (min-width: 480px) and (max-width: 750px) {
  .marcasSeccion {
    padding-top: 40px;
    padding-bottom: 90px; }
  .marcas {
    max-width: 150px; }
  .marcasCarrusel a:nth-child(1) {
    transform: rotateY(0deg) translateZ(220px); }
  .marcasCarrusel a:nth-child(2) {
    transform: rotateY(36deg) translateZ(220px); }
  .marcasCarrusel a:nth-child(3) {
    transform: rotateY(72deg) translateZ(220px); }
  .marcasCarrusel a:nth-child(4) {
    transform: rotateY(108deg) translateZ(220px); }
  .marcasCarrusel a:nth-child(5) {
    transform: rotateY(144deg) translateZ(220px); }
  .marcasCarrusel a:nth-child(6) {
    transform: rotateY(180deg) translateZ(220px); }
  .marcasCarrusel a:nth-child(7) {
    transform: rotateY(216deg) translateZ(220px); }
  .marcasCarrusel a:nth-child(8) {
    transform: rotateY(252deg) translateZ(220px); }
  .marcasCarrusel a:nth-child(9) {
    transform: rotateY(288deg) translateZ(220px); }
  .marcasCarrusel a:nth-child(10) {
    transform: rotateY(324deg) translateZ(220px); } }

@media only screen and (min-width: 750px) and (max-width: 1300px) {
  .marcasSeccion {
    padding-top: 40px;
    padding-bottom: 110px; }
  .marcasCarrusel a:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px); }
  .marcasCarrusel a:nth-child(2) {
    transform: rotateY(36deg) translateZ(300px); }
  .marcasCarrusel a:nth-child(3) {
    transform: rotateY(72deg) translateZ(300px); }
  .marcasCarrusel a:nth-child(4) {
    transform: rotateY(108deg) translateZ(300px); }
  .marcasCarrusel a:nth-child(5) {
    transform: rotateY(144deg) translateZ(300px); }
  .marcasCarrusel a:nth-child(6) {
    transform: rotateY(180deg) translateZ(300px); }
  .marcasCarrusel a:nth-child(7) {
    transform: rotateY(216deg) translateZ(300px); }
  .marcasCarrusel a:nth-child(8) {
    transform: rotateY(252deg) translateZ(300px); }
  .marcasCarrusel a:nth-child(9) {
    transform: rotateY(288deg) translateZ(300px); }
  .marcasCarrusel a:nth-child(10) {
    transform: rotateY(324deg) translateZ(300px); } }

@media only screen and (min-width: 1300px) {
  .marcasSeccion {
    padding-top: 40px;
    padding-bottom: 160px; }
  .marcasCarrusel a:nth-child(1) {
    transform: rotateY(0deg) translateZ(510px); }
  .marcasCarrusel a:nth-child(2) {
    transform: rotateY(36deg) translateZ(510px); }
  .marcasCarrusel a:nth-child(3) {
    transform: rotateY(72deg) translateZ(510px); }
  .marcasCarrusel a:nth-child(4) {
    transform: rotateY(108deg) translateZ(510px); }
  .marcasCarrusel a:nth-child(5) {
    transform: rotateY(144deg) translateZ(510px); }
  .marcasCarrusel a:nth-child(6) {
    transform: rotateY(180deg) translateZ(510px); }
  .marcasCarrusel a:nth-child(7) {
    transform: rotateY(216deg) translateZ(510px); }
  .marcasCarrusel a:nth-child(8) {
    transform: rotateY(252deg) translateZ(510px); }
  .marcasCarrusel a:nth-child(9) {
    transform: rotateY(288deg) translateZ(510px); }
  .marcasCarrusel a:nth-child(10) {
    transform: rotateY(324deg) translateZ(510px); } }

@keyframes rotar {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

/*-------------------------- INDEX --------------------------------*/
/*-- Categorias --*/
.categorias__a {
  text-decoration: none;
  font-weight: bold; }

@media only screen and (max-width: 550px) {
  .categorias {
    font-size: 3rem;
    display: flex;
    flex-flow: column; }
    .categorias__div {
      color: #ffffff;
      background-color: #F15BB5;
      margin: 10px auto;
      width: 70%;
      text-align: center; } }

@media only screen and (min-width: 551px) and (max-width: 1023px) {
  .categorias {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 300px);
    justify-content: space-evenly;
    align-content: space-around;
    margin: 10px 0;
    max-width: 100%;
    max-height: 100%; }
    .categorias__div {
      color: #ffffff;
      -webkit-text-stroke: 1px #F15BB5;
      margin: 10px auto;
      text-align: center;
      height: 90%;
      border: 2px #F15BB5 solid;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-size: 3rem; }
    .categorias__div:hover {
      box-shadow: 7px 7px 15px  grey;
      transform: scale(1.02); }
  #adhesivos {
    background-image: url(../images/categorias/adhesivos.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  #tijeras {
    background-image: url(../images/categorias/tijeras.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  #mochilas {
    background-image: url(../images/categorias/mochilas.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  #pinturas {
    background-image: url(../images/categorias/pinturas.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  #cuadernos {
    background-image: url(../images/categorias/cuadernos.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  #lapiceras {
    background-image: url(../images/categorias/lapiceras.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; } }

@media only screen and (min-width: 1024px) {
  .categorias {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 60px;
    margin: auto;
    max-width: 86%;
    max-height: 100%; }
    .categorias__div {
      color: #ffffff;
      -webkit-text-stroke: 1px #F15BB5;
      margin: 10px auto;
      text-align: center;
      width: 350px;
      height: 600px;
      border: 2px #F15BB5 solid;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-size: 5rem; }
    .categorias__div:hover {
      box-shadow: 7px 7px 15px  grey;
      transform: scale(1.02); }
  #adhesivos {
    background-image: url(../images/categorias/adhesivos.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  #tijeras {
    background-image: url(../images/categorias/tijeras.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  #mochilas {
    background-image: url(../images/categorias/mochilas.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  #pinturas {
    background-image: url(../images/categorias/pinturas.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  #cuadernos {
    background-image: url(../images/categorias/cuadernos.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  #lapiceras {
    background-image: url(../images/categorias/lapiceras.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; } }

/*-- Destacados --*/
.destacados {
  width: 90%;
  margin: auto; }
  .destacados__titulo, .destacados__contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    font-size: 3rem; }

/*-- Marcas --*/
/*La idea es que no se use el scroll
sino que se mueva solo tipo carrucel*/
@keyframes colores {
  0% {
    background-color: #B5F15B;
    color: #F15BB5; }
  25% {
    background-color: #5BB5F1;
    color: #ffffff; }
  50% {
    background-color: #B5F15B;
    color: #F15BB5; }
  75% {
    background-color: #5BB5F1;
    color: #ffffff; }
  100% {
    background-color: #ffffff;
    color: #F15BB5; } }

/*----------------------- Ofertas -------------------*/
.ofertas {
  width: 1920px;
  height: 800px;
  max-width: 100%;
  margin: auto;
  /*Flex*/
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  overflow: hidden; }
  .ofertas .ofertasAside {
    max-width: 450px;
    max-height: 100%;
    width: 100%;
    height: 100%; }
    .ofertas .ofertasAside__video {
      max-width: 100%;
      max-height: auto;
      margin: 0;
      left: 0px;
      top: 0px;
      background-color: black;
      object-fit: contain; }
  .ofertas .ofertasMain {
    overflow: auto;
    height: 100%;
    /*Flex*/
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(to top, black, #F15BB5); }
    .ofertas .ofertasMain__contenido h1 {
      animation-name: colores;
      animation-iteration-count: 10s;
      animation-timing-function: ease-in;
      animation-duration: 2s;
      animation-delay: 0s; }
    .ofertas .ofertasMain__contenido .articulos {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: auto; }
    .ofertas .ofertasMain__combos h2 {
      width: 90%;
      border-radius: 10px; }
    .ofertas .ofertasMain__combos h2, .ofertas .ofertasMain__combos .destacados {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: auto; }
    .ofertas .ofertasMain .producto p, .ofertas .ofertasMain .producto h3 {
      color: #ffffff; }

/*media queris*/
@media only screen and (max-width: 1000px) {
  .ofertas aside {
    display: none; }
  .ofertas {
    height: auto; } }

/*------------------------ Contenido Info ---------------------------*/
.contenidoInfo, .contenidoInfo div, .contenidoInfo main {
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  background-color: #f7f7f8;
  padding: 20px;
  justify-content: center; }
  .contenidoInfo div, .contenidoInfo div div, .contenidoInfo main div {
    align-items: center; }
  .contenidoInfo__titulo1, .contenidoInfo div__titulo1, .contenidoInfo main__titulo1 {
    background-color: #F15BB5;
    color: #ffffff;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    padding: 9px 30px; }
  .contenidoInfo__titulo1--Alternativo, .contenidoInfo div__titulo1--Alternativo, .contenidoInfo main__titulo1--Alternativo {
    background-color: #B5F15B;
    color: #000000;
    border: 7px #F15BB5 solid; }
  .contenidoInfo p, .contenidoInfo div p, .contenidoInfo main p {
    text-indent: 4rem; }
  .contenidoInfo h2, .contenidoInfo div h2, .contenidoInfo main h2 {
    padding: 8px;
    margin: 15px auto;
    border: #F15BB5 3px solid;
    border-radius: 10px;
    background-size: auto; }
  .contenidoInfo h3, .contenidoInfo div h3, .contenidoInfo main h3 {
    color: #F15BB5; }

/*Como llegar*/
.maps__titulo2 {
  color: #F15BB5; }

.maps__iframe {
  max-width: 100%; }

.comoLlegar main {
  max-width: 100%;
  align-items: center; }

/*-------------------------- Contacto ---------------------------*/
.formularioContacto {
  max-width: 100%;
  min-height: 700px;
  margin: auto; }
  .formularioContacto form {
    margin: 50px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    gap: 30px; }
  .formularioContacto ul {
    list-style-type: none;
    /*Flex*/
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 30px; }
  .formularioContacto li {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px; }

.formularioContacto h1, .crearCuenta h1 {
  border-radius: 15px;
  margin: 10px;
  padding: 5px; }

input, select, textarea {
  font-size: 2rem;
  border-radius: 10px;
  padding: 4px;
  border: 2px #F15BB5 solid;
  max-width: 100%; }

.formularioContacto .boton, .boton {
  text-decoration: none;
  background-color: black;
  color: #B5F15B;
  border: none;
  font-size: 3rem;
  padding: 8px 25px; }

.boton:hover {
  background-color: #F15BB5;
  color: #ffffff; }

.boton:active {
  background-color: #ffffff;
  color: #F15BB5; }

@media only screen and (max-width: 550px) {
  .formularioContacto li {
    max-width: 100%;
    display: flex;
    flex-flow: column wrap; } }

@media only screen and (min-width: 1024px) {
  #quienesSomos {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-flow: column;
    position: absolute; }
    #quienesSomos footer {
      position: relative;
      bottom: 0px;
      width: auto; }
    #quienesSomos .contenidoInfo {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: flex-start; }
      #quienesSomos .contenidoInfo h1 {
        margin: 5px auto 15px auto; } }

/*--------------------- Carrito --------------------*/
.carritoPag {
  max-width: 90%;
  margin: auto; }
  .carritoPag__table img {
    max-width: 270px;
    height: 270px;
    object-fit: contain; }

.carritoPag article {
  border: 2px #F15BB5 solid;
  border-radius: 10px; }

.carritoPag article {
  display: grid;
  grid-template-areas: "nombre nombre cantidad precioUnitario precio" "foto foto cantidad precioUnitario precio";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 10px; }
  .carritoPag article img {
    max-width: 270px;
    max-height: 270px;
    object-fit: contain; }

.carritoPag p {
  text-align: end; }

.article__foto {
  grid-area: foto; }

.article__nombre {
  grid-area: nombre;
  color: #F15BB5; }

.article__cantidad {
  grid-area: cantidad; }

.article__precioUnitario {
  grid-area: precioUnitario; }

.article__precio {
  grid-area: precio; }

@media only screen and (max-width: 1023px) {
  .carritoPag article {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "nombre nombre cantidad" "foto foto cantidad" "foto foto precioUnitario" "foto foto precio"; }
    .carritoPag article img {
      max-width: 160px;
      max-height: 160px; }
  .carritoPag p {
    margin-right: 40px; } }

/*-------------------------- Usuario ---------------------------*/
.crearCuenta, .crearCuenta form {
  width: 80%;
  margin: auto;
  font-size: 3rem; }

.crearCuenta input, .crearCuenta button {
  margin: auto;
  margin-bottom: 25px;
  padding: 8px;
  border-radius: 15px; }

.crearCuenta input {
  width: 700px;
  max-width: 100%; }

.ideasCreativas {
  width: 100%; }
  .ideasCreativas .content {
    display: grid;
    grid-template-columns: auto auto; }
  @media only screen and (max-width: 800px) {
    .ideasCreativas .content {
      grid-template-columns: auto; } }
  .ideasCreativas h2 {
    display: block;
    display: flex;
    margin: auto;
    padding: 5px;
    border-radius: 10px; }
  .ideasCreativas article {
    max-width: 100%;
    border: 5px #F15BB5 solid;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-flow: column wrap; }
    .ideasCreativas article .prodVideo {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      align-content: center; }
    .ideasCreativas article iframe {
      max-width: 100%;
      max-height: auto;
      width: 560px;
      height: 315px; }
    @media only screen and (max-width: 380px) {
      .ideasCreativas article .producto {
        margin: 0; } }

.flexRowCentrado, .contenedorUs, .articulo__similares div, .comoLlegar main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center; }

.flexColumnCentrado, .infoFooter, .crearCuenta, .crearCuenta form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center; }

/*------------------ General ---------------------*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  width: 100%;
  /*Flex*/
  display: flex;
  flex-flow: column; }

h1 {
  background-color: #F15BB5;
  color: #ffffff;
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase; }

h2 {
  background-color: #000000;
  color: #B5F15B;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase; }

h3 {
  color: #5BB5F1; }

nav ul {
  color: #F15BB5; }

/*                        MEDIA QUERIS GENERALES                            */
/*Iré llenando a medida que necesite,
    me parece optimo tener al final algunas especificaciones generales*/
@media only screen and (max-width: 550px) {
  h1 {
    font-size: 3rem; } }

@media only screen and (min-width: 551px) and (max-width: 1023px) {
  h1 {
    font-size: 3.5rem; } }

.aquiEstoy {
  color: #B5F15B !important;
  border-bottom: 2px #B5F15B solid; }

.aquiEstoy:hover {
  border: none; }

aside .aquiEstoy:hover {
  color: #F15BB5 !important; }

.tresLineasB {
  width: 100px;
  height: auto; }

.error404 {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  height: 100%; }

.prueba {
  max-width: 100%; }
  .prueba .contenido {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
