/*-------------------------- Usuario ---------------------------*/
.crearCuenta, .crearCuenta form{
    width: 80%;
    margin: auto;
    @extend .flexColumnCentrado;
    font-size: 3rem;
}

.crearCuenta{
    input, button{
        margin: auto;
        margin-bottom: 25px;
        padding: 8px;
        border-radius: 15px;
    }
    input{
        width: 700px;
        max-width: 100%;
    }
}
